@import '../../style.scss';

.select {
 
    &__label {
        @include flexColumn;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 400;
        color: $main-black-color;
    }

    &__wrapper {
       
        
        &__item {

        }
    }
}