@import '../../style.scss';

.filterWrapper {

    max-width: 305px;
    width: 100%;
    height: -mox-max-content;
    height: max-content;
    padding: 25px;
    background-color: $main-white-color;
    border-radius: 20px;
    @include flexColumn;
    align-items: flex-start;
    gap: 35px;

    &__title {
        @include flexRow;
        justify-content: flex-start;
        gap: 5px;
        font-size: 20px;
        font-weight: 500;
        color: $main-black-color;
    }

    &__container {
        
        @include flexColumn;
        align-items: flex-start;
        gap: 30px;

        &__check {

            &__title {
                font-size: 14px;
                font-weight: 500;
                color: $main-black-color;
                margin-bottom: 15px;
            }

            &__wrapper {
                @include flexColumn;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }
}