@import '../../style.scss';


.checkbox {

    accent-color: $main-blue-color;

    &__label {
        font-size: 14px;
        font-weight: 400;
        color: $main-black-color;
    }

    &__wrapper {
        display: block;
        @include flexRow;
        justify-content: flex-start;
        gap: 8px;
    }
}