@import '../../style.scss';

.card {
    width: 100%;
    height: 220px;
    border-radius: 20px;
    color: $main-black-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 20px;


    &:hover {
        background-color: $main-white-color;
        box-shadow: $box-shadow;
        transition: $transition;
        cursor: pointer;
    }

   &__cardWrapper {
    position: relative;

    &__badge {
        position: absolute;
        top: 10px;
        left: 15px;
        padding: 3px 5px;
        color: $main-black-color;
        font-size: 10px;
        font-weight: 400;
        border-radius: 5px;

        &.blueBadge {
            background-color: $badge-blue-color;
        }

        &.greenBadge {
            background-color: $badge-green-color;
        }
    }

    & > img {
        width: 295px;
        height: 175px;
        border-radius: 15px;
    }
   } 

   &__infoBlock {


    &__name {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;

    }

    &__feedbackWrapper {
        font-size: 12px;
        font-weight: 400;

        & > span {
            @include flexRow;
            justify-content: flex-start;
            gap: 5px;
        }
    }

    &__desc {
        margin-top: 20px;
        margin-bottom: 15px;
        width: 330px;   
        font-size: 14px;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $gray-description;
    }

    &__placeWrapper {
        @include flexRow;
        justify-content: flex-start;
        gap: 5px;
        margin-bottom: 8px;

        & > img {
            width: 16px;
            height: 16px;
        }

       &__address {
        font-size: 12px;
        font-weight: 400;
        color: $gray-description;
       } 

       &__text {
        font-size: 12px;
        font-weight: 400;
        color: $gray-description;

       }
    }

    &__convenience {
        @include flexRow;
        justify-content: flex-start;
        gap: 10px;

        &__item {
            @include flexRow;
            justify-content: flex-start;
            gap: 5px;
        }
    }

   }

   &__actionBlock {
        @include flexColumn;
        justify-content: flex-start;
        gap: 15px;

        &__action {
            @include actionBtn;

            &:hover {
                @include actionBtnHover;
            }
        }

    &__link {
        font-size: 14px;
        font-weight: 400;
        color: $main-blue-color;

        &:hover {
            color: $main-blue-color-hover;
        }
    }
   }
}